header {
    background: #BBBBBB;
    padding: 20px 0;
  
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;

}
nav{
    position: absolute;
    top:110px;
    right: 0;
}
nav li {

    display: inline;
    margin: 0 0 0 15px;

}

/*Transformar os links em maiuculo, usamos o text - transform*/
nav a {
    text-transform: uppercase;
    color: black;
    /*fazer com que a fonte fique em negrito*/
    font-weight: bold;
    font-size: 22px;
    /*Não quero nenhuma decoração no meu texto, então coloco NONE*/
    text-decoration: none;
}